body{
    background-color: rgb(103, 99, 93);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    color: #e0d8d8;
    line-height: 0.5;
  /*  border-color: brown;
    border-style: solid;
    padding: 50px;*/
}
#acerca_de_mi{
    background-color:rgb(5, 31, 54);
}
.menu-option{   
      padding:10px;
    font-size: 20px;
    transition: font-size 0.3s ease-in-out;
    
}
.menu-option:hover{
    font-size: 30px;
}
nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 14px 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(15, 23, 42, 0.45);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    z-index: 1000;
    transition: 0.3;
}
nav h2{
    color: rgb(243, 239, 239);
}
nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
}
nav a{
    color: rgb(243, 239, 239);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s; 
}
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
svg{
    width: 30px;
}

/*==============================
PARALAX
============================*/
.parallax{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    position: relative;
}
.parallax ::before{
    content: "";
    position: absolute;
    inset:0;
    background: rgba(103, 99, 93, 0.061);
}
.parallax > * {
    position: relative;
    z-index: 2;
}